In [21]:
import csv

with open("movies.csv") as f:
    data = list(csv.reader(f))
    print(data)

[['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget', 'revenue', 'unit', 'currency', 'language'], ['Pather Panchali', 'Bollywood', '1955', '8.3', 'Government of West Bengal', '70000', '100000', 'Thousands', 'INR', 'Bengali'], ['Doctor Strange in the Multiverse of Madness', 'Hollywood', '2022', '7', 'Marvel Studios', '200', '954.8', 'Millions', 'USD', 'English'], ['Thor: The Dark World ', 'Hollywood', '2013', '6.8', 'Marvel Studios', '165', '644.8', 'Millions', 'USD', 'English'], ['Thor: Ragnarok ', 'Hollywood', '2017', '7.9', 'Marvel Studios', '180', '854', 'Millions', 'USD', 'English'], ['Thor: Love and Thunder ', 'Hollywood', '2022', '6.8', 'Marvel Studios', '250', '670', 'Millions', 'USD', 'English'], ['The Shawshank Redemption', 'Hollywood', '1994', '9.3', 'Castle Rock Entertainment', '25', '73.3', 'Millions', 'USD', 'English'], ['Interstellar', 'Hollywood', '2014', '8.6', 'Warner Bros. Pictures', '165', '701.8', 'Millions', 'USD', 'English'], ['The Pursuit of Happyness', 'Hollywood', '2006', '8', 'Columbia Pictures', '55', '307.1', 'Millions', 'USD', 'English'], ['Gladiator', 'Hollywood', '2000', '8.5', 'Universal Pictures  ', '103', '460.5', 'Millions', 'USD', 'English'], ['Titanic', 'Hollywood', '1997', '7.9', 'Paramount Pictures', '200', '2202', 'Millions', 'USD', 'English'], ["It's a Wonderful Life", 'Hollywood', '1946', '8.6', 'Liberty Films', '3.18', '3.3', 'Millions', 'USD', 'English'], ['Avatar', 'Hollywood', '2009', '7.8', '20th Century Fox', '237', '2847', 'Millions', 'USD', 'English'], ['The Godfather', 'Hollywood', '1972', '9.2', 'Paramount Pictures', '7.2', '291', 'Millions', 'USD', 'English'], ['The Dark Knight', 'Hollywood', '2008', '9', 'Syncopy', '185', '1006', 'Millions', 'USD', 'English'], ["Schindler's List", 'Hollywood', '1993', '9', 'Universal Pictures', '22', '322.2', 'Millions', 'USD', 'English'], ['Jurassic Park', 'Hollywood', '1993', '8.2', 'Universal Pictures', '63', '1046', 'Millions', 'USD', 'English'], ['Parasite', 'Hollywood', '2019', '8.5', '', '15.5', '263.1', 'Millions', 'USD', 'English'], ['Avengers: Endgame', 'Hollywood', '2019', '8.4', 'Marvel Studios', '400', '2798', 'Millions', 'USD', 'English'], ['Avengers: Infinity War', 'Hollywood', '2018', '8.4', 'Marvel Studios', '400', '2048', 'Millions', 'USD', 'English'], ['Captain America: The First Avenger', 'Hollywood', '2011', '6.9', 'Marvel Studios', '216.7', '370.6', 'Millions', 'USD', 'English'], ['Captain America: The Winter Soldier', 'Hollywood', '2014', '7.8', 'Marvel Studios', '177', '714.4', 'Millions', 'USD', 'English'], ['Dilwale Dulhania Le Jayenge', 'Bollywood', '1995', '8', 'Yash Raj Films', '400', '2000', 'Millions', 'INR', 'Hindi'], ['3 Idiots', 'Bollywood', '2009', '8.4', 'Vinod Chopra Films', '550', '4000', 'Millions', 'INR', 'Hindi'], ['Kabhi Khushi Kabhie Gham', 'Bollywood', '2001', '7.4', 'Dharma Productions', '390', '1360', 'Millions', 'INR', 'Hindi'], ['Bajirao Mastani ', 'Bollywood', '2015', '7.2', '', '1.4', '3.5', 'Billions', 'INR', 'Hindi'], ['Taare Zameen Par', 'Bollywood', '2007', '8.3', '', '120', '1350', 'Millions', 'INR', 'Hindi'], ['Munna Bhai M.B.B.S.', 'Bollywood', '2003', '8.1', 'Vinod Chopra Productions', '100', '410', 'Millions', 'INR', 'Hindi'], ['PK', 'Bollywood', '2014', '8.1', 'Vinod Chopra Films', '850', '8540', 'Millions', 'INR', 'Hindi'], ['Sanju', 'Bollywood', '2018', 'NULL', 'Vinod Chopra Films', '1', '5.9', 'Billions', 'INR', 'Hindi'], ['The Kashmir Files', 'Bollywood', '2022', '8.3', 'Zee Studios', '250', '3409', 'Millions', 'INR', 'Hindi'], ['Bajrangi Bhaijaan', 'Bollywood', '2015', '8.1', 'Salman Khan Films', '900', '11690', 'Millions', 'INR', 'Hindi'], ['Race 3', 'Bollywood', '2018', '1.9', 'Salman Khan Films', '1.8', '3.1', 'Billions', 'INR', 'Hindi'], ['Shershaah', 'Bollywood', '2021', '8.4', 'Dharma Productions', '500', '950', 'Millions', 'INR', 'Hindi'], ['K.G.F: Chapter 2', 'Bollywood', '2022', '8.4', 'Hombale Films', '1', '12.5', 'Billions', 'INR', 'Kannada'], ['Pushpa: The Rise - Part 1', 'Bollywood', '2021', '7.6', 'Mythri Movie Makers', '2', '3.6', 'Billions', 'INR', 'Telugu'], ['RRR', 'Bollywood', '2022', '8', 'DVV Entertainment', '5.5', '12', 'Billions', 'INR', 'Telugu'], ['Baahubali: The Beginning', 'Bollywood', '2015', '8', 'Arka Media Works', '1.8', '6.5', 'Billions', 'INR', 'Telugu']]

In [22]:
print(data[0])

['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget', 'revenue', 'unit', 'currency', 'language']

In [23]:
print(data[1:])

[['Pather Panchali', 'Bollywood', '1955', '8.3', 'Government of West Bengal', '70000', '100000', 'Thousands', 'INR', 'Bengali'], ['Doctor Strange in the Multiverse of Madness', 'Hollywood', '2022', '7', 'Marvel Studios', '200', '954.8', 'Millions', 'USD', 'English'], ['Thor: The Dark World ', 'Hollywood', '2013', '6.8', 'Marvel Studios', '165', '644.8', 'Millions', 'USD', 'English'], ['Thor: Ragnarok ', 'Hollywood', '2017', '7.9', 'Marvel Studios', '180', '854', 'Millions', 'USD', 'English'], ['Thor: Love and Thunder ', 'Hollywood', '2022', '6.8', 'Marvel Studios', '250', '670', 'Millions', 'USD', 'English'], ['The Shawshank Redemption', 'Hollywood', '1994', '9.3', 'Castle Rock Entertainment', '25', '73.3', 'Millions', 'USD', 'English'], ['Interstellar', 'Hollywood', '2014', '8.6', 'Warner Bros. Pictures', '165', '701.8', 'Millions', 'USD', 'English'], ['The Pursuit of Happyness', 'Hollywood', '2006', '8', 'Columbia Pictures', '55', '307.1', 'Millions', 'USD', 'English'], ['Gladiator', 'Hollywood', '2000', '8.5', 'Universal Pictures  ', '103', '460.5', 'Millions', 'USD', 'English'], ['Titanic', 'Hollywood', '1997', '7.9', 'Paramount Pictures', '200', '2202', 'Millions', 'USD', 'English'], ["It's a Wonderful Life", 'Hollywood', '1946', '8.6', 'Liberty Films', '3.18', '3.3', 'Millions', 'USD', 'English'], ['Avatar', 'Hollywood', '2009', '7.8', '20th Century Fox', '237', '2847', 'Millions', 'USD', 'English'], ['The Godfather', 'Hollywood', '1972', '9.2', 'Paramount Pictures', '7.2', '291', 'Millions', 'USD', 'English'], ['The Dark Knight', 'Hollywood', '2008', '9', 'Syncopy', '185', '1006', 'Millions', 'USD', 'English'], ["Schindler's List", 'Hollywood', '1993', '9', 'Universal Pictures', '22', '322.2', 'Millions', 'USD', 'English'], ['Jurassic Park', 'Hollywood', '1993', '8.2', 'Universal Pictures', '63', '1046', 'Millions', 'USD', 'English'], ['Parasite', 'Hollywood', '2019', '8.5', '', '15.5', '263.1', 'Millions', 'USD', 'English'], ['Avengers: Endgame', 'Hollywood', '2019', '8.4', 'Marvel Studios', '400', '2798', 'Millions', 'USD', 'English'], ['Avengers: Infinity War', 'Hollywood', '2018', '8.4', 'Marvel Studios', '400', '2048', 'Millions', 'USD', 'English'], ['Captain America: The First Avenger', 'Hollywood', '2011', '6.9', 'Marvel Studios', '216.7', '370.6', 'Millions', 'USD', 'English'], ['Captain America: The Winter Soldier', 'Hollywood', '2014', '7.8', 'Marvel Studios', '177', '714.4', 'Millions', 'USD', 'English'], ['Dilwale Dulhania Le Jayenge', 'Bollywood', '1995', '8', 'Yash Raj Films', '400', '2000', 'Millions', 'INR', 'Hindi'], ['3 Idiots', 'Bollywood', '2009', '8.4', 'Vinod Chopra Films', '550', '4000', 'Millions', 'INR', 'Hindi'], ['Kabhi Khushi Kabhie Gham', 'Bollywood', '2001', '7.4', 'Dharma Productions', '390', '1360', 'Millions', 'INR', 'Hindi'], ['Bajirao Mastani ', 'Bollywood', '2015', '7.2', '', '1.4', '3.5', 'Billions', 'INR', 'Hindi'], ['Taare Zameen Par', 'Bollywood', '2007', '8.3', '', '120', '1350', 'Millions', 'INR', 'Hindi'], ['Munna Bhai M.B.B.S.', 'Bollywood', '2003', '8.1', 'Vinod Chopra Productions', '100', '410', 'Millions', 'INR', 'Hindi'], ['PK', 'Bollywood', '2014', '8.1', 'Vinod Chopra Films', '850', '8540', 'Millions', 'INR', 'Hindi'], ['Sanju', 'Bollywood', '2018', 'NULL', 'Vinod Chopra Films', '1', '5.9', 'Billions', 'INR', 'Hindi'], ['The Kashmir Files', 'Bollywood', '2022', '8.3', 'Zee Studios', '250', '3409', 'Millions', 'INR', 'Hindi'], ['Bajrangi Bhaijaan', 'Bollywood', '2015', '8.1', 'Salman Khan Films', '900', '11690', 'Millions', 'INR', 'Hindi'], ['Race 3', 'Bollywood', '2018', '1.9', 'Salman Khan Films', '1.8', '3.1', 'Billions', 'INR', 'Hindi'], ['Shershaah', 'Bollywood', '2021', '8.4', 'Dharma Productions', '500', '950', 'Millions', 'INR', 'Hindi'], ['K.G.F: Chapter 2', 'Bollywood', '2022', '8.4', 'Hombale Films', '1', '12.5', 'Billions', 'INR', 'Kannada'], ['Pushpa: The Rise - Part 1', 'Bollywood', '2021', '7.6', 'Mythri Movie Makers', '2', '3.6', 'Billions', 'INR', 'Telugu'], ['RRR', 'Bollywood', '2022', '8', 'DVV Entertainment', '5.5', '12', 'Billions', 'INR', 'Telugu'], ['Baahubali: The Beginning', 'Bollywood', '2015', '8', 'Arka Media Works', '1.8', '6.5', 'Billions', 'INR', 'Telugu']]

In [24]:
import pandas as pd

df = pd.read_csv("movies.csv")
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [25]:
df.sample(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
26,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
27,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [26]:
df[2:6]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [27]:
df.iloc[0:2]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English

In [28]:
df.iloc[1]["title"]

'Doctor Strange in the Multiverse of Madness'

In [29]:
df.loc[0:2]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [33]:
df.values

array([['Pather Panchali', 'Bollywood', 1955, 8.3,
        'Government of West Bengal', 70000.0, 100000.0, 'Thousands',
        'INR', 'Bengali'],
       ['Doctor Strange in the Multiverse of Madness', 'Hollywood', 2022,
        7.0, 'Marvel Studios', 200.0, 954.8, 'Millions', 'USD',
        'English'],
       ['Thor: The Dark World ', 'Hollywood', 2013, 6.8,
        'Marvel Studios', 165.0, 644.8, 'Millions', 'USD', 'English'],
       ['Thor: Ragnarok ', 'Hollywood', 2017, 7.9, 'Marvel Studios',
        180.0, 854.0, 'Millions', 'USD', 'English'],
       ['Thor: Love and Thunder ', 'Hollywood', 2022, 6.8,
        'Marvel Studios', 250.0, 670.0, 'Millions', 'USD', 'English'],
       ['The Shawshank Redemption', 'Hollywood', 1994, 9.3,
        'Castle Rock Entertainment', 25.0, 73.3, 'Millions', 'USD',
        'English'],
       ['Interstellar', 'Hollywood', 2014, 8.6, 'Warner Bros. Pictures',
        165.0, 701.8, 'Millions', 'USD', 'English'],
       ['The Pursuit of Happyness', 'Hollywood', 2006, 8.0,
        'Columbia Pictures', 55.0, 307.1, 'Millions', 'USD', 'English'],
       ['Gladiator', 'Hollywood', 2000, 8.5, 'Universal Pictures  ',
        103.0, 460.5, 'Millions', 'USD', 'English'],
       ['Titanic', 'Hollywood', 1997, 7.9, 'Paramount Pictures', 200.0,
        2202.0, 'Millions', 'USD', 'English'],
       ["It's a Wonderful Life", 'Hollywood', 1946, 8.6, 'Liberty Films',
        3.18, 3.3, 'Millions', 'USD', 'English'],
       ['Avatar', 'Hollywood', 2009, 7.8, '20th Century Fox', 237.0,
        2847.0, 'Millions', 'USD', 'English'],
       ['The Godfather', 'Hollywood', 1972, 9.2, 'Paramount Pictures',
        7.2, 291.0, 'Millions', 'USD', 'English'],
       ['The Dark Knight', 'Hollywood', 2008, 9.0, 'Syncopy', 185.0,
        1006.0, 'Millions', 'USD', 'English'],
       ["Schindler's List", 'Hollywood', 1993, 9.0, 'Universal Pictures',
        22.0, 322.2, 'Millions', 'USD', 'English'],
       ['Jurassic Park', 'Hollywood', 1993, 8.2, 'Universal Pictures',
        63.0, 1046.0, 'Millions', 'USD', 'English'],
       ['Parasite', 'Hollywood', 2019, 8.5, nan, 15.5, 263.1, 'Millions',
        'USD', 'English'],
       ['Avengers: Endgame', 'Hollywood', 2019, 8.4, 'Marvel Studios',
        400.0, 2798.0, 'Millions', 'USD', 'English'],
       ['Avengers: Infinity War', 'Hollywood', 2018, 8.4,
        'Marvel Studios', 400.0, 2048.0, 'Millions', 'USD', 'English'],
       ['Captain America: The First Avenger', 'Hollywood', 2011, 6.9,
        'Marvel Studios', 216.7, 370.6, 'Millions', 'USD', 'English'],
       ['Captain America: The Winter Soldier', 'Hollywood', 2014, 7.8,
        'Marvel Studios', 177.0, 714.4, 'Millions', 'USD', 'English'],
       ['Dilwale Dulhania Le Jayenge', 'Bollywood', 1995, 8.0,
        'Yash Raj Films', 400.0, 2000.0, 'Millions', 'INR', 'Hindi'],
       ['3 Idiots', 'Bollywood', 2009, 8.4, 'Vinod Chopra Films', 550.0,
        4000.0, 'Millions', 'INR', 'Hindi'],
       ['Kabhi Khushi Kabhie Gham', 'Bollywood', 2001, 7.4,
        'Dharma Productions', 390.0, 1360.0, 'Millions', 'INR', 'Hindi'],
       ['Bajirao Mastani ', 'Bollywood', 2015, 7.2, nan, 1.4, 3.5,
        'Billions', 'INR', 'Hindi'],
       ['Taare Zameen Par', 'Bollywood', 2007, 8.3, nan, 120.0, 1350.0,
        'Millions', 'INR', 'Hindi'],
       ['Munna Bhai M.B.B.S.', 'Bollywood', 2003, 8.1,
        'Vinod Chopra Productions', 100.0, 410.0, 'Millions', 'INR',
        'Hindi'],
       ['PK', 'Bollywood', 2014, 8.1, 'Vinod Chopra Films', 850.0,
        8540.0, 'Millions', 'INR', 'Hindi'],
       ['Sanju', 'Bollywood', 2018, nan, 'Vinod Chopra Films', 1.0, 5.9,
        'Billions', 'INR', 'Hindi'],
       ['The Kashmir Files', 'Bollywood', 2022, 8.3, 'Zee Studios',
        250.0, 3409.0, 'Millions', 'INR', 'Hindi'],
       ['Bajrangi Bhaijaan', 'Bollywood', 2015, 8.1, 'Salman Khan Films',
        900.0, 11690.0, 'Millions', 'INR', 'Hindi'],
       ['Race 3', 'Bollywood', 2018, 1.9, 'Salman Khan Films', 1.8, 3.1,
        'Billions', 'INR', 'Hindi'],
       ['Shershaah', 'Bollywood', 2021, 8.4, 'Dharma Productions', 500.0,
        950.0, 'Millions', 'INR', 'Hindi'],
       ['K.G.F: Chapter 2', 'Bollywood', 2022, 8.4, 'Hombale Films', 1.0,
        12.5, 'Billions', 'INR', 'Kannada'],
       ['Pushpa: The Rise - Part 1', 'Bollywood', 2021, 7.6,
        'Mythri Movie Makers', 2.0, 3.6, 'Billions', 'INR', 'Telugu'],
       ['RRR', 'Bollywood', 2022, 8.0, 'DVV Entertainment', 5.5, 12.0,
        'Billions', 'INR', 'Telugu'],
       ['Baahubali: The Beginning', 'Bollywood', 2015, 8.0,
        'Arka Media Works', 1.8, 6.5, 'Billions', 'INR', 'Telugu']],
      dtype=object)

In [36]:
df.shape

(37, 10)

In [37]:
df["imdb_rating"]

0     8.3
1     7.0
2     6.8
3     7.9
4     6.8
5     9.3
6     8.6
7     8.0
8     8.5
9     7.9
10    8.6
11    7.8
12    9.2
13    9.0
14    9.0
15    8.2
16    8.5
17    8.4
18    8.4
19    6.9
20    7.8
21    8.0
22    8.4
23    7.4
24    7.2
25    8.3
26    8.1
27    8.1
28    NaN
29    8.3
30    8.1
31    1.9
32    8.4
33    8.4
34    7.6
35    8.0
36    8.0
Name: imdb_rating, dtype: float64

In [38]:
df["imdb_rating"].mean()

7.919444444444445

In [39]:
df["imdb_rating"].min()

1.9

In [40]:
df["imdb_rating"].max()

9.3

In [43]:
df.groupby("industry")["imdb_rating"].mean()

industry
Bollywood    7.65625
Hollywood    8.13000
Name: imdb_rating, dtype: float64

In [44]:
df.groupby("industry")["imdb_rating"].min()

industry
Bollywood    1.9
Hollywood    6.8
Name: imdb_rating, dtype: float64

In [45]:
df.groupby("industry")["imdb_rating"].max()

industry
Bollywood    8.4
Hollywood    9.3
Name: imdb_rating, dtype: float64

In [46]:
df[df.industry=="Bollywood"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
21,Dilwale Dulhania Le Jayenge,Bollywood,1995,8.0,Yash Raj Films,400.0,2000.0,Millions,INR,Hindi
22,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
23,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi
24,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi
25,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi
26,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi
27,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
28,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi
29,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi
30,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
32,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
33,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
34,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [48]:
df[df.industry=="Bollywood"]["imdb_rating"].mean(),df[df.industry=="Bollywood"]["imdb_rating"].min(),df[df.industry=="Bollywood"]["imdb_rating"].max()

(7.656250000000001, 1.9, 8.4)

In [49]:
df[df.industry=="Hollywood"]["imdb_rating"].mean(),df[df.industry=="Bollywood"]["imdb_rating"].min(),df[df.industry=="Bollywood"]["imdb_rating"].max()

(8.130000000000003, 1.9, 8.4)